* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.wrapper {
  margin: 0 auto;
  max-width: 1152px;
  padding: 0 20px;
}

/*Start navbar and ribbon*/
nav {
  background-color: black;
  height: 32px;
  width: 100%;
}

nav ul {
  max-height: 32px;
  line-height: 32px;
  font-size: 13px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: rgba(255,255,255,.6);
}

nav ul li a:hover {
  color: white;
}

nav ul div.left-float {
  float: left;
}

nav ul div.left-float li {
  margin-left: 12px;
}

nav ul div.right-float {
  float: right;
}

nav ul div.right-float li {
  margin-right: 12px;
}

.ribbon {
  background-color: white;
  width: 100%;
  height: 48px;
  text-align: center;

}

.ribbon a {
  float: left;
  text-decoration: none;
  color: #aaa;
  height: 100%;
  padding: 20px 10px;
  font-size: 12px;
}

.ribbon a:hover {
 color: black;
}

.ribbon .countdown {
  display: inline-block;
  text-align: center;
  padding: 9px 0;
}

.ribbon .countdown div {
  display: inline-block;
  color: #F42;
}

.ribbon .countdown span {
  font-size: 12px;
  color: #555;
}

.ribbon .countdown button {
  font-weight: 700;
  font-size: 11px;
  color: #fff;
  border-radius: 3px;
  background-color: #0CC;
  padding: 0 12px;
  line-height: 28px;
}
.ribbon .countdown button:hover {
  background-color: #90C;
}


.ribbon .social {
  display: inline-block;
  float: right;
  padding: 14px 5px;
}

.ribbon .social li {
  display: inline-block;
  padding-left: 11px;
}

.ribbon .social li i {
  color: #555;
}

.ribbon .social li button {
  background-color: white;
}

#below-ribbon {
  display: none;
  width: 100%;
  height: 24px;
  background-color: black;
  text-align: center;
}

#below-ribbon a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

#below-ribbon a span {
  color: #0CC;
  font-weight: 700;
}

#below-ribbon a span:hover {
  color: #90C;
}

/*End Navbar and Ribbon*/

/*Start three main covers*/

section.cover {
  background-color: rgba(0,0,0,.1);
  background-size: 100% 100%;
  width: 100%;
  height: 560px;
}

section .cover-main {
  /*background: pink;*/
  width: 60.9%;
  /*height: 414.4px;*/
  height: 100%;
  float: left;
  padding: 4px;
}

section article.cover-main div.cover-trigger {
  background-image: url('img/uberbeacon.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

section article.cover-main div.cover-trigger header {
  position: absolute;
  bottom: 0;
  padding: 14px 12px;
}

section article.cover-main div.cover-trigger #date {
  margin-right: 24px;
  margin-top: 16px;
  float: right;
  color: white;
}


section article.cover-main div.cover-trigger header a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
}

section article.cover-main div.cover-trigger header #big-text {
  font-size: 56px;
}

section article.cover-main div.cover-trigger header ul li {
  display: inline-block;
  color: #555;
}

section article.cover-main div.cover-trigger header ul li a {
  color: #555;
}

section .cover-story {
  width: 39.1%;
  /*height: 207px;*/
  height: 50%;
  float: left;
  padding: 4px;
}

section article.cover-story div.small-trigger {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

section article.cover-story div.small-trigger header {
  position: absolute;
  bottom: 0;
  padding: 14px 12px;
}

section article.cover-story div.small-trigger header a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
}

section article.cover-story div.small-trigger header > a {
  font-size: 30px;
}

section article.cover-story div.small-trigger header ul li {
  display: inline-block;
  color: #555;
}

section article.cover-story div.small-trigger header ul li a {
  color: #555;
  text-decoration: none;
}

section article.cover-story div#trigger1 {
  background-image: url('img/sidetrigger1.jpg');
  background-image: url('img/img-grad.png');
  background-size: 100% 100%;
  /*background: url('img/img-grad.png') no-repeat rgba(0,0,0,.25); */
  /*position: absolute;;*/
}

section article.cover-story div#trigger2 {
  background-image: url('img/trigger2.png');
  background-size: 100% 100%;
  position: relative;
  /*background-color: rgba(0,0,0,.25);*/
}
section article.cover-story div#trigger2:after {
  background: url('img/img-grad.png');
  opacity: 0.5;
  position: absolute;
  z-index: 10;
}


/*End three main covers*/

/*Start main wrapper*/
/*Start latest news section*/

h2 a {
  color: #F42;
  text-decoration: none;
}

h2 a:hover {
  color: black;
}

 section.latest {
   width: 100%;
   height: 568.8px;
   /*background-color: yellow;*/
   margin-top: 24px;
 }

 section.latest h2 {
   width: 100%;
   height: 30.8px;
   /*background-color: gray;*/
   margin-bottom: 24px;
 }

 section.latest ul {
   width: 100%;
   height: 502px;
   /*background-color: purple;*/
   /*display: inline;*/
}

section.latest ul li {
  display: inline-block;
  width: 24.5%;
  height: 251px;
  padding: 12px;
}

section.latest ul li .byline {
  text-decoration: none;
  color: #555;
  font-size: 12px;
}

section.latest ul li h4 a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

section.latest ul li h4 a:hover {
  color: #F42;
  text-decoration: underline;
}

section.latest ul li .latestImage {
  width: 100%;
  height: 123px;
  background-size: cover;
  display: inline-block;
}

section.latest ul li .latimg1 {
  background-image: url('img/latest1.png');
}

section.latest ul li .latimg2 {
  background-image: url('img/latest2.jpg');
}

section.latest ul li .latimg3 {
  background-image: url('img/latest3.png');
}

section.latest ul li .latimg4 {
  background-image: url('img/latest4.png');
}

section.latest ul li .latimg5 {
  background-image: url('img/latest5.jpg');
}

section.latest ul li .latimg6 {
  background-image: url('img/latest6.png');
}

section.latest ul li .latimg7 {
  background-image: url('img/latest7.jpg');
}

section.latest ul li .latimg8 {
  background-image: url('img/latest8.jpg');
}

/*End latest news section*/

/*Start Latest deals section*/
 section.long-investment-deals {
   width: 100%;
   height: 350px;
   margin-bottom: 45px;
   /*background-color: gray;*/
 }

 header.deals-header {
   width: 100%;
   height: 32px;
   /*background-color: red;*/
   margin-bottom: 24px;
 }

 header.deals-header h2 {
   display: inline-block;
   float: left;
 }

 header.deals-header a {
   display: inline-block;
   float: right;
   text-decoration: none;
   color: #F42;
 }

 header.deals-header a:hover {
   color: black;
 }

 div.col-lg-4 {
   width: 25%;
   height: 286px;
   float: left;
   /*border: 1px solid red;*/
   padding: 12px;
 }

 div.col-lg-4 img {
   width: 60px;
   height: 60px;
   position: absolute;
   margin: 11px;
 }

 div.col-lg-4 > h4 {
   background-color: #F42;
   height: 39px;
   width: 100%;
   padding: 10.67px 16px 10.67px 84px;
   font-size: 15px;
 }

 div.col-lg-4 .story-card {
   background-color: rgba(255,68,34,.08);
   height: 75.3px;
   padding: 10.67px 16px 10.67px 84px;
   font-size: 15px;
 }

 .story-card h5 {
   opacity: .5;
   font-size: 11px;
 }

 div.col-lg-4 .investmentCard a {
   text-decoration: none;
   color: #555;
   display: block;
   margin-bottom: .5em;
}

div.col-lg-4 .investmentCard {
  background-color: rgba(255,68,34,.08);
}

div.col-lg-4 .deal-details {
  border-top: 1px solid rgba(255,68,34,.25);
  background-color: rgba(255,68,34,.08);
}

div.col-lg-4 .deal-details a {
  font-size: 12px;
  text-decoration: none;
  color: #555;
}

div.col-lg-4 div.col-lg-mini {
  width: 100%;
  height: 10%;
  background-color: rgba(255,68,34,.2);
}
 /*End Latest deals section*/

/*Start 9 big columns*/
 .large9 {
   margin-bottom: 40px;
   height: 2115px;
   width: 100%;
 }

 div.col-lg-3 {
   width: 33.3%;
   height: 705px;
   background-color: green;
   float: left;
   padding: 12px;
   margin-bottom: 24px;
 }

 div.col-lg-3 h2 {
   margin-bottom: 14px;
}

div.col-lg-3  div.lg-col-img{
  width: 100%;
  height: 49%;
  background-image: url('img/img-grad.png');
  background-size: 100% 100%;
  position: relative;
}

div.col-lg-3  div.lg-col-img header {
  position: absolute;
  bottom: 10px;
  padding-left: 14px;
}

div.col-lg-3  div.lg-col-img header {

}

div.col-lg-3  div.lg-col-img header > a,
div.col-lg-3  div.lg-col-img header > h5 {
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
}

div.col-lg-3  div.lg-col-img header > a {
  font-size: 30px;
}

/*div.col-lg-3  div.lg-col-img header ul li {
  display: inline-block;
  color: #555;
}*/

div.col-lg-3  div.lg-col-img header div a {
  color: #555;
  text-decoration: none;
}

 div.one-third {
   width: 33.3%;
   height: 666px;
   background-color: blue;
   float: left;
 }
 /*End 9 big columns*/

/*Start latest deals prefooter*/
 div.deals-prefooter {
   width: 100%;
   height: 661px;
   /*background-color: violet;*/
 }

 div.deals-prefooter h2 {
   width: 100%;
   height: 30.8px;
   margin-bottom: 24px;
   /*background-color: gray;*/
 }

 div.deals-prefooter {
   width: 100%;
   height: 661px;
   /*background-color: purple;*/
   /*display: inline;*/
}

div.deals-prefooter ul li {
  display: inline-block;
  width: 24.5%;
  height: 318px;
  background-color: red;
}
/*/End Latest Deals Prefooter*/

 /*End main wrapper*/

 /*Start Footer*/
footer .footer-quote {
  width: 100%;
  height: 281.5px;
  background-color: teal;
  margin-top: 6px;
}

/*End Footer Quote Styling*/

footer .footer-trends {
  width: 100%;
  height: 250px;
  background-color: black;
}

.footer-trends .topics {
  width: 33.3%;
  height: 152px;
  background-color: gray;
  float: left;
}

/*End Footer Trends Styling*/

footer .footer-links {
  width: 100%;
  height: 160.5px;
  background-color: brown;
}

footer .footer-legal {
  width: 100%;
  height: 97.5px;
  background-color: red;
}
/*End Footer Styling*/

/*Start Media Queries styling*/

@media screen and (max-width: 1010px) {
  #logo {
    width: 11%;
    height: 80px;
    background-color: red;
    float: left;
  }


  nav {
    height: 32px;
    width: 89%;
    float: right;
  }

  .ribbon {
    width: 89%;
    height: 48px;
    float: right;
  }

  .ribbon .countdown span, #cd-img, .ribbon .countdown button {
    display: none;
  }

  #below-ribbon {
    display: block;
  }

  section.cover {
    width: 100%;
    height: 494.4px;
  }
  section .cover-main {
    width: 67.1%;
  }

  section article.cover-main div.cover-trigger header #big-text {
    font-size: 40px;
  }

  section .cover-story {
    width: 32.9%;
    height: 50%;
  }

  section article.cover-story div.small-trigger header > a {
    font-size: 20px;
  }

  section.latest {
    height: 805px;
  }

  section.latest ul {
    height: 736px;
  }

  section.latest ul li {
    width: 32%;
    height: 239px;
  }

  header.deals-header {
    height: 60px;
  }

  header.deals-header h2  {
    width: 100%;
  }

  header.deals-header h2 a {
    float: left;
    width: 100%;
  }

  header.deals-header > a {
    float: left;
    margin-top: 10px;
  }

  div.col-lg-4 {
    width: 33.3%;
  }

  #hidden-lg-4 {
    display: none;
  }

  .large9 {
    margin-bottom: 40px;
    height: 3525px;
    width: 100%;
  }

  div.col-lg-3, div.one-third {
    width: 50%;
  }

  div.clearfix-medium {
    clear: both;
  }

  div.deals-prefooter {
    height: 942.3px;
  }

  div.deals-prefooter ul {
    height: 942.3px;
  }

  div.deals-prefooter ul {
    height: 897.3px;
  }

  div.deals-prefooter ul li {
    width: 32.9%;
    height: 305px;
  }

}

@media screen and (max-width: 755px) {

  #logo {
    height: 48px;
  }

  nav {
    display: none;
  }

  section.cover {
    width: 100%;
    height: 750px;
  }
  section .cover-main, section .cover-story {
    width: 100%;
    height: 255px;
  }

  section article.cover-main div.cover-trigger header #big-text {
    font-size: 20px;
  }

  section.latest {
    height: 774px;
  }

  section.latest ul {
    height: 704px;
  }

  section.latest ul li {
    width: 100%;
    height: 88px;
  }

  section.latest ul li .latestImage {
    width: 72px;
    height: 72px;
    float: left;
    margin-right: 10px;
  }

  header.deals-header {
      height: 122px;
    }

  header.deals-header > a {
    width: 100%;
    float: left;
  }

  div.col-lg-4 {
    width: 100%;
    height: 242px;
  }

  .large9 {
    height: 7655px;
  }

  div.col-lg-3, div.one-third {
    width: 100%;
    height: 850.55px;
  }

  div.deals-prefooter {
    height: 752px;
  }

  div.deals-prefooter ul {
    height: 704px;
  }

  div.deals-prefooter ul li {
    width: 100%;
    height: 88px;
  }

  footer .footer-trends {
    height: 402px;
  }

  footer .footer-trends .wrapper {
    height: 332px;
  }

  .footer-trends .topics {
    width: 50%;
    height: 152px;
  }
}

@media screen and (max-width: 467px ) {

  #logo {
    width: 22.8%;
  }

  section div.ribbon {
    width: 77.2%;
  }

  nav {
    display: none;
  }

  footer .footer-trends {
    height: 486px;
  }

  footer .footer-trends .wrapper {
    height: 416px;
  }

  .footer-trends .topics {
    width: 100%;
  }
}
