* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.wrapper {
  margin: 0 auto;
  max-width: 1152px;
}

nav {
  background-color: black;
  height: 32px;
  width: 100%;
}

.ribbon {
  background-color: brown;
  width: 100%;
  height: 48px;
}

section.cover {
  background-color: blue;
  width: 100%;
  height: 414px;
}

section .cover-main {
  background: pink;
  width: 60.9%;
  height: 414.4px;
  float: left;
}

section .cover-story {
  background: green;
  width: 39.1%;
  height: 207px;
  float: left;
}

 section.latest {
   width: 100%;
   height: 568.8px;
   background-color: yellow;
 }

 section.latest h2 {
   width: 100%;
   height: 30.8px;
   background-color: gray;
 }

 section.latest ul {
   width: 100%;
   height: 502px;
   background-color: purple;
   /*display: inline;*/
}

section.latest ul li {
  display: inline-block;
  width: 24.5%;
  height: 251px;
  background-color: red;
}

 section.long-investment-deals {
   width: 100%;
   height: 350px;
   background-color: gray;
 }

 header.deals-header {
   width: 100%;
   height: 32px;
   background-color: red;
 }

 div.col-lg-4 {
   width: 25%;
   height: 286px;
   float: left;
   background-color: pink;
   border: 1px solid red;
 }

 div.col-lg-3 {
   width: 33.3%;
   height: 705px;
   background-color: green;
   float: left;
 }

 div.one-third {
   width: 33.3%;
   height: 666px;
   background-color: blue;
   float: left;
 }

 div.deals-prefooter {
   width: 100%;
   height: 661px;
   background-color: violet;
 }

 div.deals-prefooter h2 {
   width: 100%;
   height: 30.8px;
   background-color: gray;
 }

 div.deals-prefooter {
   width: 100%;
   height: 661px;
   background-color: purple;
   /*display: inline;*/
}

div.deals-prefooter ul li {
  display: inline-block;
  width: 24.5%;
  height: 318px;
  background-color: red;
}


 /*End main content*/
 /*Start Footer*/
footer .footer-quote {
  width: 100%;
  height: 281.5px;
  background-color: teal;
  margin-top: 6px;
}

/*End Footer Quote Styling*/

footer .footer-trends {
  width: 100%;
  height: 250px;
  background-color: black;
}

.footer-trends .topics {
  width: 33.3%;
  height: 152px;
  background-color: gray;
  float: left;
}

/*End Footer Trends Styling*/

footer .footer-links {
  width: 100%;
  height: 160.5px;
  background-color: brown;
}

footer .footer-legal {
  width: 100%;
  height: 97.5px;
  background-color: red;
}
/*End of Styling*/

/*Start Media Queries styling*/

@media screen and (max-width: 1010px) {
  section.cover {
    width: 100%;
    height: 338.4px;
  }
  section .cover-main {
    width: 67.1%;
    height: 338.4px;
  }

  section .cover-story {
    width: 32.9%;
    height: 165.2px;
  }

  section.latest {
    height: 805px;
  }

  section.latest ul {
    height: 736px;
  }

  section.latest ul li {
    width: 32%;
    height: 239px;
  }

  div.col-lg-4 {
    width: 33.3%;
  }

  #hidden-lg-4 {
    display: none;
  }

  div.col-lg-3, div.one-third {
    width: 50%;
  }

  div.clearfix-medium {
    clear: both;
  }

  div.deals-prefooter {
    height: 942.3px;
  }

  div.deals-prefooter ul {
    height: 942.3px;
  }

  div.deals-prefooter ul {
    height: 897.3px;
  }

  div.deals-prefooter ul li {
    width: 32.9%;
    height: 305px;
  }

}

@media screen and (max-width: 755px) {
  section.cover {
    width: 100%;
    height: 516.5px;
  }
  section .cover-main, section .cover-story {
    width: 100%;
    height: 169.5px;
  }

  section.latest {
    height: 774px;
  }

  section.latest ul {
    height: 704px;
  }

  section.latest ul li {
    width: 100%;
    height: 88px;
  }

  div.col-lg-4 {
    width: 100%;
  }

  div.col-lg-3, div.one-third {
    width: 100%;
    height: 850.55px;
  }

  div.deals-prefooter {
    height: 752px;
  }

  div.deals-prefooter ul {
    height: 704px;
  }

  div.deals-prefooter ul li {
    width: 100%;
    height: 88px;
  }

  footer .footer-trends {
    height: 402px;
  }

  footer .footer-trends .wrapper {
    height: 332px;
  }

  .footer-trends .topics {
    width: 50%;
    height: 152px;
  }
}

@media screen and (max-width: 467px ) {
  
  nav {
    display: none;
  }

  footer .footer-trends {
    height: 486px;
  }

  footer .footer-trends .wrapper {
    height: 416px;
  }

  .footer-trends .topics {
    width: 100%;
  }
}
