* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.wrapper {
  margin: 0 auto;
  max-width: 1152px;
}

/*Start navbar and ribbon*/
nav {
  background-color: black;
  height: 32px;
  width: 100%;
}

nav ul {
  max-height: 32px;
  line-height: 32px;
  font-size: 13px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: rgba(255,255,255,.6);
}

nav ul li a:hover {
  color: white;
}

nav ul div.left-float {
  float: left;
}

nav ul div.left-float li {
  margin-left: 12px;
}

nav ul div.right-float {
  float: right;
}

nav ul div.right-float li {
  margin-right: 12px;
}

.ribbon {
  background-color: white;
  width: 100%;
  height: 48px;
}

.ribbon .countdown {
  margin: 0 auto;
  width: 50%;
  display: inline-block;
}

.ribbon .social {
  display: inline-block;
  float: right;
}

.ribbon .social li {
  display: inline-block;
}

/*.ribbon button {
  float: right;
}*/

/*End Navbar and Ribbon*/

/*Start three main covers*/

section.cover {
  background-color: rgba(0,0,0,.1);
  background-size: 100% 100%;
  width: 100%;
  height: 560px;
}

section .cover-main {
  /*background: pink;*/
  width: 60.9%;
  /*height: 414.4px;*/
  height: 100%;
  float: left;
  padding: 4px;
}

section article.cover-main div.cover-trigger {
  background-image: url('img/uberbeacon.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

section article.cover-main div.cover-trigger header {
  position: absolute;
  bottom: 0;
  padding: 14px 12px;
}

section article.cover-main div.cover-trigger #date {
  margin-right: 24px;
  margin-top: 16px;
  float: right;
  color: white;
}


section article.cover-main div.cover-trigger header a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
}

section article.cover-main div.cover-trigger header #big-text {
  font-size: 56px;
}

section article.cover-main div.cover-trigger header ul li {
  display: inline-block;
  color: #555;
}

section article.cover-main div.cover-trigger header ul li a {
  color: #555;
}


section .cover-story {
  width: 39.1%;
  /*height: 207px;*/
  height: 50%;
  float: left;
  padding: 4px;
}

section article.cover-story div.small-trigger {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

section article.cover-story div.small-trigger header {
  position: absolute;
  bottom: 0;
  padding: 14px 12px;
}

div.small-trigger header a {
  text-decoration: none
  color: white;
}

section article.cover-story div.small-trigger header ul li {
  display: inline-block;
}

section article.cover-story div#trigger1 {
  background-image: url('img/sidetrigger1.jpg');
}

section article.cover-story div#trigger2 {
  background-image: url('img/trigger2.png');
}

section h5 {
  color: white;
}



/*End three main covers*/

/*Start main wrapper*/
/*Start latest news section*/

h2 a {
  color: #F42;
  text-decoration: none;
}

h2 a:hover {
  color: black;
}

 section.latest {
   width: 100%;
   height: 568.8px;
   background-color: yellow;
   margin-top: 24px;
 }

 section.latest h2 {
   width: 100%;
   height: 30.8px;
   background-color: gray;
   margin-bottom: 24px;
 }

 section.latest ul {
   width: 100%;
   height: 502px;
   background-color: purple;
   /*display: inline;*/
}

section.latest ul li {
  display: inline-block;
  width: 24.5%;
  height: 251px;
  background-color: red;
}

/*End latest news section*/

/*Start Latest deals section*/
 section.long-investment-deals {
   width: 100%;
   height: 350px;
   background-color: gray;
 }

 header.deals-header {
   width: 100%;
   height: 32px;
   background-color: red;
   margin-bottom: 24px;
 }

 div.col-lg-4 {
   width: 25%;
   height: 286px;
   float: left;
   background-color: pink;
   border: 1px solid red;
 }

 /*End Latest deals section*/

/*Start 9 big columns*/
 div.col-lg-3 {
   width: 33.3%;
   height: 705px;
   background-color: green;
   float: left;
 }

 div.one-third {
   width: 33.3%;
   height: 666px;
   background-color: blue;
   float: left;
 }
 /*End 9 big columns*/

/*Start latest deals prefooter*/
 div.deals-prefooter {
   width: 100%;
   height: 661px;
   background-color: violet;
 }

 div.deals-prefooter h2 {
   width: 100%;
   height: 30.8px;
   background-color: gray;
 }

 div.deals-prefooter {
   width: 100%;
   height: 661px;
   background-color: purple;
   /*display: inline;*/
}

div.deals-prefooter ul li {
  display: inline-block;
  width: 24.5%;
  height: 318px;
  background-color: red;
}
/*/End Latest Deals Prefooter*/

 /*End main wrapper*/

 /*Start Footer*/
footer .footer-quote {
  width: 100%;
  height: 281.5px;
  background-color: teal;
  margin-top: 6px;
}

/*End Footer Quote Styling*/

footer .footer-trends {
  width: 100%;
  height: 250px;
  background-color: black;
}

.footer-trends .topics {
  width: 33.3%;
  height: 152px;
  background-color: gray;
  float: left;
}

/*End Footer Trends Styling*/

footer .footer-links {
  width: 100%;
  height: 160.5px;
  background-color: brown;
}

footer .footer-legal {
  width: 100%;
  height: 97.5px;
  background-color: red;
}
/*End Footer Styling*/

/*Start Media Queries styling*/

@media screen and (max-width: 1010px) {
  #logo {
    width: 11%;
    height: 80px;
    background-color: red;
    float: left;
  }

  #below-ribbon {
    width: 100%;
    height: 24px;
    background-color: purple;
  }

  nav {
    height: 32px;
    width: 89%;
    float: right;
  }

  .ribbon {
    width: 89%;
    height: 48px;
    float: right;
  }

  section.cover {
    width: 100%;
    height: 338.4px;
  }
  section .cover-main {
    width: 67.1%;
    height: 338.4px;
  }

  section .cover-story {
    width: 32.9%;
    height: 165.2px;
  }

  section.latest {
    height: 805px;
  }

  section.latest ul {
    height: 736px;
  }

  section.latest ul li {
    width: 32%;
    height: 239px;
  }

  div.col-lg-4 {
    width: 33.3%;
  }

  #hidden-lg-4 {
    display: none;
  }

  div.col-lg-3, div.one-third {
    width: 50%;
  }

  div.clearfix-medium {
    clear: both;
  }

  div.deals-prefooter {
    height: 942.3px;
  }

  div.deals-prefooter ul {
    height: 942.3px;
  }

  div.deals-prefooter ul {
    height: 897.3px;
  }

  div.deals-prefooter ul li {
    width: 32.9%;
    height: 305px;
  }

}

@media screen and (max-width: 755px) {

  #logo {
    height: 48px;
  }

  nav {
    display: none;
  }

  section.cover {
    width: 100%;
    height: 516.5px;
  }
  section .cover-main, section .cover-story {
    width: 100%;
    height: 169.5px;
  }

  section.latest {
    height: 774px;
  }

  section.latest ul {
    height: 704px;
  }

  section.latest ul li {
    width: 100%;
    height: 88px;
  }

  div.col-lg-4 {
    width: 100%;
  }

  div.col-lg-3, div.one-third {
    width: 100%;
    height: 850.55px;
  }

  div.deals-prefooter {
    height: 752px;
  }

  div.deals-prefooter ul {
    height: 704px;
  }

  div.deals-prefooter ul li {
    width: 100%;
    height: 88px;
  }

  footer .footer-trends {
    height: 402px;
  }

  footer .footer-trends .wrapper {
    height: 332px;
  }

  .footer-trends .topics {
    width: 50%;
    height: 152px;
  }
}

@media screen and (max-width: 467px ) {

  #logo {
    width: 22.8%;
  }

  section div.ribbon {
    width: 77.2%;
  }

  nav {
    display: none;
  }

  footer .footer-trends {
    height: 486px;
  }

  footer .footer-trends .wrapper {
    height: 416px;
  }

  .footer-trends .topics {
    width: 100%;
  }
}
